= simple_form_for lens, :html => { :class => 'form-horizontal' } do |f|
  %fieldset
    %legend= legend

    = f.input :name
    = f.input :brand

    %div.form-actions
      = f.button :submit, :class => 'btn-primary'
      = link_to t("form.button.cancel"), :back, :class => 'btn'
