.well
  %i.icon-plus
  = link_to t('lens.button.add'), new_lens_path

%table.table.table-bordered.table-striped.table-condensed
  %thead
    %tr
      %th= "Name"
      %th= "Brand"
      %th= "Focal Range"
      %th= "Actions"

  %tbody
    - @lenses.each do |lens|
      %tr
        %td= lens.name
        %td= lens.brand
        %td= lens.focal_range
        %td
          = link_to raw("<i class='icon-eye-open'></i>"), lens_path(lens), :class => 'btn btn-mini', :title => "Show #{lens.name}"
          = link_to raw("<i class='icon-edit'></i>"), edit_lens_path(lens), :class => 'btn btn-mini btn-warning', :title => "Edit #{lens.name}"
          - if lens.deletable?
            = link_to raw("<i class='icon-trash'></i>"), lens_path(lens), :method => 'delete', :confirm => "Sure?", :class => 'btn btn-mini btn-danger', :title => "Delete #{lens.name}", :class => 'btn btn-mini btn-danger'